.navbar{
    width: 100%;
    background-color: #7c7878;
    
}
.navegacao{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #222;
    height: 10vh;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;
}
.item a{
    color: #fff;
    text-decoration: none;
}
.item a:hover{
    color: #ffbb33;
}